<div class="row" *ngIf="!isvalidusercheck; else showForgetPassword">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="row">
            <label>Enter Username:</label>
                <input type="username" id="inputusername" class="form-control" [(ngModel)]="username" name="username"  required>
        </div>
        <div class="row">
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="onCheckUserExists()" >Verify</button>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
<ng-template #showForgetPassword>
<div class="row">
    
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
      <div class="row">
              <label>Password</label>
        </div>
        <div class="row">
            <label>Reenter-Password</label>
        </div>
        <div class="row">
          
        </div>
  </div>
  <div class="col-md-3">
      <div class="row">
          <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" name="Password"  required>
        </div>
        <div class="row">
            <input type="password" id="inputPassword" class="form-control" [(ngModel)]="repassword" name="Password"  required>
        </div>
        <div class="row">
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="onReset()" >Reset</button>
        </div>
  </div>
  <div class="col-md-3">

  </div>

</div>
</ng-template>