<div class="container">
  <div class="row">
  <div class="col-sm-6">
    <div class="row">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control input-sm" type="search" [(ngModel)]="this.proCodeKey" name="KeySearch" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)='searchProductCode()' type="submit">Search Product</button>
      </form>
    </div>
    <div class="row">
        <div class="container" *ngIf="Plist !=undefined && Plist.length>0">
        <table class="table">
            <thead class="thead-Nav_match">
              <tr>
                <th scope="col" >Code</th>
                <th scope="col" >Quantity</th>
                <th scope="col" >Select option</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let pro of Plist'>              
                <td #pCode>{{pro.Code}}</td>
                <td>{{pro.RemQuantity}}</td>
                <td>
                    <input type="checkbox"  id="productCheck" name="selectProduct" (change)="selectProduct(pro)" >
                </td>
              </tr>
            </tbody>
          </table>

        </div> 
      </div>
  </div>
  
  
  <div class="col-sm-6">
    <div class="row">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control input-sm" type="search" [(ngModel)]="this.userCodeKey" name="KeyUserSearch" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)='searchUserCode()' type="submit">Search User</button>
      </form>
    </div>
    <div class="row">
      <div class="container" *ngIf="Ulist !=undefined && Ulist.length>0">

          <table class="table">
              <thead class="thead-Nav_match">
                <tr>
                  <th scope="col" >Code</th>
                  <th scope="col" >Name</th>
                  <th scope="col" >Select option</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let usr of Ulist'>              
                  <td #UserCode>{{usr.Code}}</td>
                  <td>{{usr.Name}}</td>
                  <td>
                      <input type="checkbox"  id="userCheck" name="selectUser" (change)="selectUser(usr)" >
                  </td>
                </tr>
              </tbody>
            </table>
  

       <!--  <div class="row" *ngFor='let pro of Ulist'>
          <div class="col-sm-4">{{pro.Code}}
            <label  #UserPID>{{pro.UserId}} </label> 
          </div>
          <div class="col-sm-4">{{pro.Name}}</div>
          <div class="col-sm-4">
            <input type="checkbox"  id="userCheck" name="selectUser" (change)="selectUser(UserPID)" >
          </div>
        </div> -->
      </div>
    </div> 
    
  </div>
  </div>
  
  <div class="row">
      <div class="col-sm-10">
          <span class="glyphicon glyphicon-remove-sign"></span>
      </div>
      <div class="col-sm-2">
          <button class="btn btn btn-primary" (click)="OnConformDetails()" >Preview</button>
      </div>      
  </div>

</div>
  
