<!-- <div >
  <div class="row" *ngFor='let pro of ListofProd'>
    <div class="col-sm-2">{{pro.Name}}</div>
    <div class="col-sm-2">{{pro.Code}}</div>
    <div class="col-sm-1">{{pro.Quantity}}</div>
    <div class="col-sm-1">{{pro.RemQuantity}}</div>
    <div class="col-sm-2">{{pro.Description}}</div>
    <div class="col-sm-2">{{pro.CreatedOn}}</div>
    <div class="col-sm-2">
      <a [routerLink]="['/ProductDetails',pro.Code]"></a>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-Nav_match">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Code</th>
          <th scope="col">Quantity</th>
          <th scope="col">Available</th>
          <th scope="col">Description</th>
          <th scope="col">Created On</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let pro of ListofProd  index as i'>
          <th scope="row">{{i+1}}</th>
          <td>{{pro.Name}}</td>
          <td>{{pro.Code}}</td>
          <td>{{pro.Quantity}}</td>
          <td>{{pro.RemQuantity}}</td>
          <td>{{pro.Description}}</td>
          <td>{{pro.CreatedOn}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-3">
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Page No." aria-label="Page No." [(ngModel)]="pageNumber"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="ChangePageNumber()">GoTo Page</button>
              </div>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="NextPageNumber()"><b>Next>></b></button>
              </div>
            </div>
      </div>    
    </div>
</div>