
@{
    ViewBag.Title = "OnlineProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OnlineProducts</h2>
@section Scripts {

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Product/Details.js"></script>
}

