<div class="col-sm-10">
  <br/>
  <form class="form-horizontal " >
    <div class="row">
      <div class="col-sm-6">
          <div class="form-group row">
              <label class="control-label col-sm-4" for="productname">Name:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="productname" [(ngModel)]="prod.ProductName" placeholder="Enter Product Name" name="name" >
              </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-4" for="productcode">Code:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="productcode" [(ngModel)]="prod.ProductCode" placeholder="Product Code will Generate.." disabled name="productcode" >
                </div>
              </div>
            <div class="form-group row">
                  <label class="control-label col-sm-4" for="quantity">Quantity:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="quantity" [(ngModel)]="prod.quantity" placeholder="Enter Quantity" name="quantity" >
                  </div>
              </div>
            <div class="form-group row">
                  <label class="control-label col-sm-4" for="description">Description:</label>
                  <div class="col-sm-8">
                      <textarea row="4" class="form-control" id="description" [(ngModel)]="prod.description" placeholder="Enter Description" name="description"></textarea>
                  </div>
            </div>
            
      </div>
      <div class="col-sm-6">  
        <div *ngIf="selectedImage != null">
            <img src="{{selectedImage.url}}" class="img-rounded" alt="Upload a pic" width="304" height="236"> 
      </div>
      <div class="row">
        <div class="col-sm-6">
          <input type="file" (change)="onFileSelected($event)"/>
        </div>
          <div class="col-sm-6">
              <button type="button" class="btn btn-secondary btn-sm"(click)="onUpload()" >Upload</button>
          </div>
        
      </div>
      </div>
    </div>
    <hr/>
    <div class="row">
        <h5>Notes::</h5>
      </div>
    <div class="row"> 
      
            <div class="col-sm-4">
            <label class="control-label col-sm-4" for="subject">Subject:</label>
            </div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="subject" [(ngModel)]="note.subject" placeholder="Enter Subject" name="subject" >
            </div>
        
        
          <div class="col-sm-4">
            <label class="control-label col-sm-4" for="comment">Comment:</label>
          </div>
          <div class="col-sm-8">
            <textarea class="form-control" rows="5" id="comment" [(ngModel)]="note.comment" placeholder="Enter comment..." name="comment"></textarea>
          </div>
          
        
    </div>
    <div class="row">
      <div class="col-sm-10"></div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="submit()" >Create</button>
      </div>
    </div>
  </form>
 
    
</div>