/* .navbar{
    background-color: rgb(54, 11, 102);
}
a{
    color:#28a745;
}
 */



















.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(54, 11, 102);
    color: #28a745;
    text-align: center;
 }




