<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img [src]="profilePic"
            class="img-responsive" alt="Upload Pic">
            <input type="file" style="display: none" (change)="onFileChanged($event)" #fileInput>
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{userDetails.strFirstName }} {{ userDetails.strLastName}}
          </div>
          <!--  <div class="profile-usertitle-job">
            Developer
          </div> -->
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-default btn-sm" (click)="fileInput.click()">Upload</button>
          <button type="button" class="btn btn-success btn-sm" (click)="uploadProfilePic()">Submit</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul>
            <li class="active">
              <button type="button" class="btn btn-link" (click)="changeDetail(1)">Overview</button>
            </li>
            <li>
              <button type="button" class="btn btn-link" (click)="changeDetail(2)">Account Settings</button>
            </li>
            <li>
              <button type="button" class="btn btn-link" (click)="changeDetail(3)">User List</button>
            </li>
            <li>
              <button type="button" class="btn btn-link" (click)="changeDetail(4)">Billing Settings</button>
            </li>
            <li>
                <button type="button" class="btn btn-link" (click)="changeDetail(5)">Pending Users</button>
              </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
        <div class="profile-content">
          <div *ngIf="userSelection==0">
            <div class="card">
              <div class="card-header">
                <p class='pagetitle'>User Details</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="col-sm-6">
                    <b>First Name :</b>
                  </div>
                  <div class="col-sm-6">
                    {{this.userDetails.strFirstName}}
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="col-sm-6"><b>Last Name : </b></div>
                  <div class="col-sm-6">
                    {{this.userDetails.strLastName}}
                  </div>

                </li>
                <li class="list-group-item">
                  <div class="col-sm-6">
                    <b>Date of Birth :</b>
                  </div>
                  <div class="col-sm-6">
                    {{this.userDetails.strDob}}
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="col-sm-6"><b>Email : </b></div>
                  <div class="col-sm-6">
                    {{this.userDetails.Email}}
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="col-sm-6">
                    <b>Phone Number : </b>
                  </div>
                  <div class="col-sm-6">
                    {{this.userDetails.PhoneNumber}}
                  </div>

                </li>
                <li class="list-group-item">
                  <div class="col-sm-6">
                    <b>User Code :</b>
                  </div>
                  <div class="col-sm-6">
                    {{this.userDetails.UserCode}}
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <app-user-list *ngIf="userSelection==3"></app-user-list>
          <app-user-address *ngIf="userSelection==1"></app-user-address>
          <app-user-billing *ngIf="userSelection==4"></app-user-billing>
          <app-pending-users  *ngIf="userSelection==5"></app-pending-users>
        </div>      
    </div>
  </div>
</div>