<div class="container" >
  <div class="class">
      <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link " routerLink="/ProductRegistration">Create Product</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " routerLink="/ProductList">Created Product List</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " routerLink="/AssignProduct">Assign Product</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " routerLink="/ProductList">Assigned Product List</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " routerLink="/ConvertProduct">Convert Product</a>
          </li>
          <li class="nav-item">
              <a class="nav-link " routerLink="/ProductList">Converted Product List</a>
          </li>
        </ul>


  </div>
<!-- <div class="row">
<div class="col-md-4">
  <a routerLink="/ProductRegistration">Create Product</a> ||
  <a routerLink="/ProductList">Created Product List</a>
</div>
<div class="col-md-4">
  <a routerLink="/AssignProduct">Assign Product</a> ||
  <a routerLink="/ProductList">Assigned Product List</a>
</div>
<div class="col-md-4">
  <a routerLink="/ConvertProduct">Convert Product</a> ||
  <a routerLink="/ProductList">Converted Product List</a>
</div>

<div class="row">
Here I am displaying values
</div> -->
</div>
