
    <div class="container">
    <form class="form-horizontal" >
      <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
                <label class="control-label col-sm-4" for="firstname">First Name:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="firstname" [(ngModel)]="person.strFirstName" placeholder="Enter First Name" name="first" required >
                </div>
              </div>
              <div class="form-group row">
                  <label class="control-label col-sm-4" for="middlename">Middle Name:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="middlename" [(ngModel)]="person.strMiddleName" placeholder="Enter Middle Name" name="middle" >
                  </div>
                </div>
              <div class="form-group row">
                    <label class="control-label col-sm-4" for="lastname">Last Name:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="lastname" [(ngModel)]="person.strLastName" placeholder="Enter Last Name" name="last" required >
                    </div>
                </div>
              <div class="form-group row">
                  <label class="control-label col-sm-4" for="dateofbirth">Date of Birth:</label>
                  <div class="col-sm-8">
                    
                          <form class="form-inline">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="col-sm-8">
                                  <input class="form-control" placeholder="yyyy-mm-dd"
                                         name="dp" [(ngModel)]="person.strDob" ngbDatepicker #d="ngbDatepicker" required></div>
                                         <div class="col-sm-4">
                                  <div class="input-group">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><span class="glyphicon glyphicon-th">Click</span></button>
                                  </div></div>
                                </div>
                              </div>
                          </form>
                        
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-sm-4 text-right">
                      <app-multi-option [category]="uniqueID"></app-multi-option>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="uniquenumber" [(ngModel)]="person.strAdharNumber" placeholder="Enter Unique Number" name="Uniquenumberselection" required>
                    </div>
              </div>
              <div class="form-group row">
                  <label class="control-label col-sm-4" for="gender">Gender:</label>
                <div class="col-sm-8">
                    <label class="radio-inline"><input type="radio" name="optradio" checked>Male</label>
                    <label class="radio-inline"><input type="radio" name="optradio">Female</label>
                </div>
              </div>
              <div class="form-group row">
                <label class="control-label col-sm-4" for="gender">Country:</label>
              <div class="col-sm-8">
                  <app-multi-option [category]="UserList"></app-multi-option>
              </div>
            </div>
        </div>
        <div class="col-sm-6">
           <div class="row">
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="address1">Type of Details:</label>
                    <div class="col-sm-8 text-left" >
                        <app-multi-option [category]="AddressType"></app-multi-option>
                      </div>
                  </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="address1">Door No & Street:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="address1" [(ngModel)]="addressUser.strAddress1" placeholder="Door No & Street" name="addressfirst" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-4" for="address2">Village & Town:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="address2" [(ngModel)]="addressUser.strAddress2" placeholder="Village & Town" name="addresssecond" required>
                    </div>
                  </div>
                  <div class="form-group row">
                      <label class="control-label col-sm-4" for="address3">District,State & Country:</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="address3" [(ngModel)]="addressUser.strAddress3" placeholder="District,State & Country" name="addressthird" required>
                      </div>
                    </div>
                  <div class="form-group row">
                        <label class="control-label col-sm-4" for="phonenumber">Phone Number</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="phonenumber" [(ngModel)]="addressUser.strPhone" placeholder="Enter Phone Number" name="phonenumbername" required>
                        </div>
                    </div>
                  <div class="form-group row">
                          <label class="control-label col-sm-4" for="emailid">Email ID</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="emailid" [(ngModel)]="addressUser.strEmail"  placeholder="Enter Email ID" name="emailidtext" required>
                          </div>
                    </div>
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <div class="form-group">        
                            <div class="col-sm-offset-2 col-sm-8">
                              <button type="submit" class="btn btn-default" (click)="onSubmit()">Submit</button>
                            </div>
                          </div>
                    </div>
           </div>
        </div> 
      </div>
      
    </form>
  </div>