<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="btn-group dropleft">
        <button type="button" class="btn btn-secondary dropdown-toggle" id="sidebutton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <b>{{buttonlable}}</b>
        </button>
        <div class="dropdown-menu">
          <!-- Dropdown menu links -->
          <button class="dropdown-item" type="button" (click)="pendingusers()">Pending Approval</button>
          <button class="dropdown-item" type="button" (click)="approvedusers()">Approaved</button>
          <button class="dropdown-item" type="button" (click)="managerusers()">Managers Only</button>
          <button class="dropdown-item" type="button" (click)="activeusers()">Active Users</button>
          <button class="dropdown-item" type="button" (click)="inactiveusers()">InActive Users</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="by Code or Name" aria-label="by Code or Name"
          [(ngModel)]="searchNameCode" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="searchWithkey()">Search</button>
        </div>
      </div>
    </div>
    <table class="table">
      <thead class="thead-Nav_match">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">DOB</th>
          <th scope="col">Phone No</th>
          <th scope="col">Code</th>
          <th scope="col">Email Id</th>
          <th scope="col">Created On</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let pro of lsperson  index as i'>
          <th scope="row">{{i+1}}</th>
          <td>{{pro.strFirstName}}</td>
          <td>{{pro.strLastName}}</td>
          <td>{{pro.strDob | date: 'dd/MM/yyyy' }}</td>
          <td>{{pro.PhoneNumber}}</td>
          <td>{{pro.UserCode}}</td>
          <td>{{pro.Email}}</td>
          <td>{{pro.strCreatedOn | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>