
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="w3-display-topmiddle">
    <h2>Account Info</h2>
</div>

<div>
   @ViewBag.Message
</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js">
    </script>
    <script>

    </script>
}