<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div *ngIf="IsLoading">
        <div class="lds-css">
          <div class="lds-gear">
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body" *ngIf="!IsLoading">
        <h3 class="card-title text-center"><b>Sign In</b></h3>
        <form class="form-signin">
          <!-- UserName -->
          <div class="form-label-group">
            User Name:<input type="email" id="inputEmail" class="form-control" [(ngModel)]="SingIn.Username"
              name="Username" required autofocus placeholder="User Name">
            <!-- <label for="inputEmail">Email address</label> -->
          </div>
          <!--Password-->
          <div class="form-label-group">
            Password:<input type="password" id="inputPassword" class="form-control" [(ngModel)]="SingIn.Password"
              name="Password" required>
            <!-- <label for="inputPassword">Password</label> -->
          </div>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Remember password</label>
            <br />
            <a routerLink='/ForgetPassword'>Forget Password</a>
          </div>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="onLogin()">Sign
            in</button>
          <hr class="my-4">
          <div class="custom-control custom-checkbox mb-3">
            <a routerLink='/UserRegister' class="text-center">Create New</a>
          </div>
          <button class="btn btn-sm btn-google btn-block text-uppercase" type="submit"><i
              class="fab fa-google mr-2"></i> Sign in with Google</button>
          <button class="btn btn-sm btn-facebook btn-block text-uppercase" type="submit"><i
              class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
        </form>
      </div>
    </div>
  </div>
</div>